Source: xyz.gelez.nrv
Section: x11
Priority: extra
Maintainer: Baptiste Gelez <baptiste@gelez.xyz>
Build-Depends: debhelper (>= 9),
               libgtk-3-dev,
               libsoup2.4-dev,
               libgranite-dev,
               libgee-0.8-dev,
               libjson-glib-dev,
               meson,
               valac
Standards-Version: 3.9.3

Package: xyz.gelez.nrv
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Browse the Nova Reta Vortaro, a modern Esperanto dictionnary.